.big-banner {
    background: url('team1.jpeg') no-repeat center;
    height: 500px;
}
.logo {
    font-size: 3em;
    font: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.red {
    color: red;
}
.total_count {
    color: red;
}
.goal {
    color: blue;
    font-style: italic;
    font: bold;
}
.goal_status {
    color: grey;
    font-style: italic;
}
.inspiration {
    background: #eee;
    height: 200px;
    margin-top: 10px;
    text-align: center;
}