.big-banner {
    background: url('team1.jpeg') no-repeat center;
    height: 500px;
}
.logo {
    font-size: 3em;
    font: bold;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.red {
    color: red;
}
.total_count {
    color: red;
}
.goal {
    color: blue;
    font-style: italic;
    font: bold;
    font-size: 1.3em;
}
.goal_status {
    color: grey;
    font-style: italic;
}
.goal_update {
    color: red;
    font-style: italic;
}
.inspiration {
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    background: black;
    color: white;
    text-align: center;
}
