{% extends 'layout.html' %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="text-center"><br>
          <h3>Did your friend
	      {% if user %}
              {{ user.first_name }}
	      {% endif %}
	      successfully complete their goal
	      {% if goal %} to {{ goal.goal }}
	      {% endif %}?<h3>
        </div>
    </div><br><br>
    <div class="row justify-content-center">
        <form id='validate-completion' action="/completion_update/{{ goal.id }}" method="GET">
            <input class="btn btn-info btn-outline-success btn-circle btn-xl" id="complete-true" type="button" value="Yes, they succeeded!">
            <input class="btn btn-info btn-outline-danger btn-circle btn-xl" id='complete-false' type="button" value="Nope">
        </form>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const jdidUrl = `${location.origin}`;
        let good = document.getElementById('complete-true')
        let bad = document.getElementById('complete-false')
        let goal_id = {{ goal.id }}

        good.addEventListener("click", function (e) {
            location.href = jdidUrl + `/completion_update/${goal_id}?complete=1`
        });

        bad.addEventListener("click", function (e) {
            location.href = jdidUrl + `/completion_update/${goal_id}?complete=0`
        });
    })
</script>

{% endblock content %}
