{% extends 'layout.html' %}
{% block content %}
<div class='container'>
    <form method='POST' action=''>
        {% if form %}
        {{ form.hidden_tag() }}
        <div class="col align-self-center">
            <div class="form-group">
                {{ form.goal.label(class="form-control form-control-sm") }}
                {% if form.goal.errors %}
                {{ form.goal(class="form-control form-control-sm is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.goal.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.goal(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.deadline.label(class="form-control form-control-sm") }}
                {% if form.deadline.errors %}
                {{ form.deadline(class="form-control form-control-sm is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.deadline.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.deadline(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.pledge.label(class="form-control form-control-sm") }}
                {% if form.pledge.errors %}
                {{ form.pledge(class="form-control form-control-sm is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.partner_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.pledge(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.accountability_partner.label(class="form-control form-control-sm") }}
                {% if form.accountability_partner.errors %}
                {{ form.accountability_partner(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.accountability_partner.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.accountability_partner(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.partner_email.label(class="form-control form-control-sm") }}
                {% if form.partner_email.errors %}
                {{ form.partner_email(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.partner_email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.partner_email(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit.label(class="form-control form-control-sm") }}
                {{ form.submit() }}
            </div>
        </div>
        {% endif %}
    </form>
</div>

<!-- POPULATE PAGE WITH SUMMARY OF SUBMITTED GOALS -->
{% if all_records %}
{% for rec in all_records %}
<br><br>
<center>
    <p>Someone has pledged to {{rec.goal}} by {{rec.deadline}} or {{rec.pledge}}!</p>
</center>
{% endfor %}
{% endif %}
{% endblock content %}