{% extends 'layout.html' %}
{% block content %}
<div class='container'>
    <form method='POST' action='/create_goal'>
        {% if form %}
        {{ form.hidden_tag() }}
        <div class="col align-self-center">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.goal.label(class="form-control-label") }}
                    {% if form.goal.errors %}
                    {{ form.goal(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.goal.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.goal(placeholder="ex. run a 5K marathon", class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.deadline.label(class="form-control-label") }}
                    {% if form.deadline.errors %}
                    {{ form.deadline(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.deadline.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.deadline(id="datepicker", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pledge.label(class="form-control-label") }}
                    {% if form.pledge.errors %}
                    {{ form.pledge(class="form-control form-control-sm is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.partner_email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.pledge(placeholder="ex. treat Magdalena to Fogo De Chao", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.accountability_partner.label(class="form-control-label") }}
                    {% if form.accountability_partner.errors %}
                    {{ form.accountability_partner(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.accountability_partner.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.accountability_partner(placeholder="ex. Melissa Ng", class="form-control form-control-sm")
                    }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.partner_email.label(class="form-control-label") }}
                    {% if form.partner_email.errors %}
                    {{ form.partner_email(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.partner_email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.partner_email(placeholder="ex. cheersmelissa@gmail.com", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    <!--{{ form.submit.label(class="form-control") }}-->
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </div>
        {% endif %}
    </form>
</div>

<!-- SHOW TOTAL NUMBER OF USER SUBMITTED GOALS -->
<div class="total_count text-center">
    <h1>{% if count %}{{ count }}</h1>
    <h6> pledges so far!</h6>{% endif %}
</div>

<!-- POPULATE PAGE WITH SUMMARY OF SUBMITTED GOALS -->
<div class="inspiration"><h1>Current Pledges</h1></div>
{% if goals_and_days_passed %}
{% for rec in goals_and_days_passed %}
<br><br>
<div class="text-center shadow-sm p-1 rounded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <img src="../static/team2.jpeg" alt="avatar" class="rounded-circle" style="width:80px; height:60px;">
            </div>
            <div class="col-sm-10">
                <p>Someone has pledged to <span class="goal"><b>{{rec[0].goal}}</b></span> by <b>{{rec[0].deadline}}</b> or <b>{{rec[0].pledge}}</b>!</p>
                <h6 class="goal_status">goal set {{ rec[1] }} days ago</h6>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock content %}
