<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% if title_page %}
    <title>JDID -- {{ title_page }}</title>
    {% else %}
    <title>JDID</title>
    {% endif %}
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col-md-8">
                {% with msgs = get_flashed_messages(with_categories=true) %}
                {% if msgs %}
                {% for category, msg in msgs %}
                <div class="alert alert-{{ category }}">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block content %}{% endblock content%}
    </main>
</body>

</html>