<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <title>Just Do It Dude</title>
</head>

<body>
  <br>
  <div class="container">
    <img src="static/team1.jpeg" style="max-width:100%; heigth:auto;" alt="Happiness">
  </div><br>

  <!-- GOAL FORM -->
  <div class="container">
    <form method="POST">
      <div class="col align-self-center">
        <input type="text" name="goal" class="form-control" placeholder="Goal">
        <input type="text" name="deadline" class="form-control" placeholder="Deadline">
        <input type="text" name="pledge" class="form-control" placeholder="Pledge">
        <input type="text" name="friends_email" class="form-control" placeholder="Accountability partner's email">
        <input type="text" name="username" class="form-control" placeholder="Your name">
        <input type="text" name="password" class="form-control" placeholder="Password">
      </div><br>
      <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
  </div>
  </div>

  <!-- POPULATE PAGE WITH SUMMARY OF SUBMITTED GOALS -->
  {% if all_pledges %}
  {% for pledge in all_pledges %}
  <br><br>
  <center>
    <p>{{pledge.username}} will {{pledge.goal}} by {{pledge.deadline}} or {{pledge.pledge}}</p>
  </center>
  {% endfor %}
  {% endif %}
</body>

</html>