{% extends 'layout.html' %}
{% block content %}
<h1>Landing</h1>
<div class='container'>
    <form method='POST' action=''>
        {% if form %}
        <div class="col align-self-center">
            <div>
                {{ form.goal.label(class="form-control")}}
                {{ form.goal }}
            </div>
            <div>
                {{ form.deadline.label(class="form-control")}}
                {{ form.deadline }}
            </div>
            <div>
                {{ form.pledge.label(class="form-control") }}
                {{ form.pledge }}
            </div>
            <div>
                {{ form.accountability_partner.label(class="form-control") }}
                {{ form.accountability_partner }}
            </div>
            <div>
                {{ form.partner_email.label(class="form-control") }}
                {{ form.partner_email() }}
            </div>
            <div>
                {{ form.submit.label(class="form-control") }}
                {{ form.submit() }}
            </div>
        </div>
        {% endif %}
    </form>
</div>

<!-- POPULATE PAGE WITH SUMMARY OF SUBMITTED GOALS -->
{% if all_records %}
{% for rec in all_records %}
<br><br>
<center>
    <p>Someone has pledged to {{rec.goal}} by {{rec.deadline}} or {{rec.pledge}}!</p>
</center>
{% endfor %}
{% endif %}
{% endblock content %}